body {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

main {
    display: flex;
    flex-direction: column;
    padding: 8.9rem 2rem 0;
    gap: 3.2rem;
}

.noGap {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    scroll-margin-top: 8.9rem;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile-icon {
    width: 16rem;
}

#profile-icon img {
    width: 100%;
}

.about__description {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.about__contact {
    display: flex;
    gap: 1.6rem;
}

.contact__icon {
    height: 2.4rem;
    transition: var(--transition);
}

.contact__icon:hover {
    color: var(--secondary-color);
    transform: scale(1.1);
    transition: var(--transition);
}

#skills__aprendendo, #training__courses {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.skills__list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.projects__list {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.training__card {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

footer {
    text-align: center;
    padding: 2rem;
}

@media (min-width: 540px) {
    main {
        padding: 8.9rem 4rem 0;
    }
}

@media (min-width: 800px) {
    #about {
        flex-direction: row;
        gap: 2.4rem;
    }

    #profile-icon {
        max-width: 32rem;
        width: 30%;
    }
    
    #profile-icon img {
        width: 100%;
    }

    .about__description {
        width: 70%;
    }
}

@media (min-width: 1020px) {
    main {
        padding: 0 12.2rem 2rem 9.6rem;
        gap: 30vh;
    }

    .noGap {
        gap: 0;
    }

    #about {
        flex-direction: row;
        gap: 2.4rem;
    }

    #about {
        min-height: 100vh;
    }

    .about__description {
        flex: 2;
    }
    
    .skills__item {
        width: 30%;
        gap: 2.4rem 3.2rem;
    }

    .projects__list {
        gap: 3.2rem;
    }
}