@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root,
:root[data-theme='light'] {
    --primary-color: #C8B7D8;
    --secondary-color: #472A52;

    --icon-color: #A28DB8;

    --primary-bg-color: #F3F1F1;

    --project-bg-color: #E5D8D2;

    --primary-bd-color: #191919;
    --secondary-bd-color: #472A52;

    --skill-primary-bd-color: #A28DB8;
    --skill-secondary-bd-color: #C8B7D8;

    --text-color: #191919;

    --font-text: "Poppins", sans-serif;
    --transition: all .2s ease-in-out;
}

:root[data-theme='dark'] {
    --primary-color: #472A52;
    --secondary-color: #C8B7D8;

    --icon-color: #C8B7D8;
    
    --primary-bg-color: #191919;

    --project-bg-color: #522A35;

    --project-bg-color: #522A35;

    --primary-bd-color: #F3F1F1;
    --secondary-bd-color: #C8B7D8;

    --skill-primary-bd-color: #C8B7D8;
    --skill-secondary-bd-color: #A28DB8;

    --text-color: #F3F1F1;
}