.courses__list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.courses__item {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;

    background-color: var(--primary-color);
    border: 2px solid var(--border-color);
    border-radius: 1.2rem;
}

.btn--courses {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
}

.btn--courses:hover {
    /* background-color: var(--text-color); */
}

.btn--courses i {
    color: var(--text-color);
    font-size: 2rem;
}

.courses__description {
    display: none;
}

.courses__item.active .courses__description {
    display: flex;
    flex-direction: column;
}

.courses__item.active .btn--courses i {
    transform: rotate(180deg);
}

@media (min-width: 1060px) {
    .courses__list {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .courses__item {
        width: calc((100% - 1.2rem)/2);
    }
}