nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 2rem;
    background: rgba(249, 249, 249, .2);
    backdrop-filter: blur(18px);
    border-bottom-left-radius: 2.4rem;
    border-bottom-right-radius: 2.4rem;
}

nav ul {
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    list-style: none;
}