.projects__item {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.projects__mockup {
    position: relative;
    width: 100%;
}

.mockup__screen {
    position: absolute;
    top: 5.4%;
    left: 11.5%;
    height: 85%;
    width: 77%;
    fill: var(--project-bg-color);
    
    overflow: hidden auto;
    background-color: black;
}

.mockup__screen img {
    width: 100%;
    transition: var(--transition);
}

.project__description {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.projects__links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.projects__skills {
    display: flex;
    gap: .6rem;
}

.projects__skills figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    border: 1px solid var(--secondary-bd-color);
}

.skill {
    height: 2rem;
}

.project__list {
    margin-left: 2rem;
}

.projects__item {
    padding: 3.2rem;
    border-radius: 2.4rem;
    background-color: var(--project-bg-color);
}

@media (min-width: 700px) {
    .projects__item {
        flex-direction: row;
        gap: 3.2rem;
        width: 100%;
        align-items: center;
    }
}

@media (min-width: 1060px) {
    .projects__item {
        flex-direction: row;
        gap: 3.2rem;
        width: 100%;
        align-items: center;
    }

    .mockup {
        width: 40%;
    }

    .projects__mockup {
        width: 40%;
    }

    .project__description {
        width: 60%;
    }

    /* .projects__links {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.2rem;
    } */
}