.project__item {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

#mockup {
    width: 100%;
}

.project__links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.projects__skills figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    border: 1px solid var(--border-color);
}

.skill {
    height: 2rem;
}

.project__list {
    margin-left: 2rem;
}