.skills__item {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.skills__item figure {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-bg-color);
    border: 2px solid var(--skill-primary-bd-color);
    border-radius: 100%;
}

#skills__aprendendo .skills__item figure {
    border: 2px solid var(--skill-secondary-bd-color);
}

.skills__item img {
    height: 2.8rem;
}

@media (min-width: 440px) {
    .skills__list {
        flex-flow: row wrap;
        gap: 2.4rem 3.2rem;
    }

    .skills__item {
        width: calc((100% - 3.2rem)/2);
    }
}

@media (min-width: 700px) {
    .skills__item {
        width: calc((100% - 3.2rem * 2)/3);
    }
}

@media (min-width: 1060px) {
    .skills__item figure {
        width: 5.5rem;
        height: 5.5rem;
    }

    .skills__item img {
        height: 3.1rem;
    }
}